body {
	background: #141414;
	color: #ffffff;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
  }
  
  .movie-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .movie {
	background-color:rgb(107, 103, 103);
	border-radius: 3px;
	box-shadow: 3px 3pxb black;
  
	margin: 1rem;
	width: 250px;
  }
  
  .movie img {
	max-width: 100%;
  }
  
  .movie img:hover {
	cursor: pointer;
	transform: scale(1.1);
  }
  
  .movie-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
  }
  
  .movie-info span{
	background-color: #141414;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: small;
  }
  
  .movie-info h3{
	margin: 0;
  }
  
  .movie-synopsis {
	display: flex;
	font-size:x-small;
	/* flex-direction: column; */
	margin-top: 0;
	padding-left: 1rem;
  }
  
  .reviews-list {
	font-size: x-small;
  }
  
  .reviews-list li{
	list-style-type:none;
  }